{% extends "base.html" %}


{% block body %}

  <main>
    <h1>Calendrier</h1>
       
        
            <div class="row">
                <div class="col-xl-12">
                    <div id="calendar"></div>
                </div>
            </div>
       
    </form>
</main>

<style>
    main {
        background-color: #fecba1;
        border-radius: 10px;
        padding: 12px 20px 50px;
        width: 50%;
        height: 95%;
        margin: 0px auto 4px;
    }


</style>

{% endblock %}


