{% extends "base.html" %}

{% block body %}
<main>
    <h1>Changer le mot de passe</h1>
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
     
    <form method="post" action="{% url 'change_password' %}" novalidate>
        {% csrf_token %}
        
        <!-- Ancien mot de passe -->
        <div class="mb-3">
            <h4>Ancien mot de passe :</h4>
            <input type="password" name="old_password" class="form-control {% if form.old_password.errors %}is-invalid{% endif %}" id="id_old_password">
            {% for error in form.old_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <!-- Nouveau mot de passe -->
        <div class="mb-3">
            <h4>Nouveau mot de passe :</h4>
            <input type="password" name="new_password" class="form-control {% if form.new_password.errors %}is-invalid{% endif %}" id="id_new_password">
            {% for error in form.new_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <!-- Confirmer le mot de passe -->
        <div class="mb-3">
            <h4>Confirmer le mot de passe :</h4>
            <input type="password" name="confirm_password" class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}" id="id_confirm_password">
            {% for error in form.confirm_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <input type="submit" class="btn btn-primary" value="Changer le mot de passe">
    </form>
</main>

<style>
    main {
        background-color: #fecba1;
        border-radius: 10px;
        padding: 60px 20px 50px;
        width: 50%;
        margin: 0px auto 4px;
    }


</style>

{% endblock %}

