{% load static %}
 <aside class="left-sidebar sidebar-dark sidebar-fixed" id="left-sidebar">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand">
              <a href="">
                <img src="{% static 'images/logo2.png' %}"alt="Circet">
                
              </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-left" data-simplebar style="height: 100%;">
              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">

                <li {% if request.resolver_match.url_name == 'demande_details' %}class="active"{% endif %}>
                  <a class="sidenav-item-link" href="{% url 'demande_details' %}">
                      <i class="mdi mdi-face-agent"></i>
                      <span class="nav-text">Demande</span>
                  </a>
              </li>
              <li {% if request.resolver_match.url_name == 'profile_view' %}class="active"{% endif %}>
                  <a class="sidenav-item-link" href="{% url 'profile_view' %}">
                      <i class="mdi mdi-account"></i>
                      <span class="nav-text">Profil</span>
                  </a>
              </li>
              <li {% if request.resolver_match.url_name == 'parcours_view' %}class="active"{% endif %}>
                  <a class="sidenav-item-link" href="{% url 'parcours_view' %}">
                      <i class="mdi mdi-check-decagram-outline"></i>
                      <span class="nav-text">Mes parcours</span>
                  </a>
              </li>
                  
              <li {% if request.resolver_match.url_name == 'change_password' %}class="active"{% endif %}>
                <a class="sidenav-item-link" href="{% url 'change_password' %}">
                    <i class="mdi mdi-cog"></i>
                    <span class="nav-text">Paramètre</span>
                </a>
              </li>
              <li {% if request.resolver_match.url_name == 'contacts' %}class="active"{% endif %}>
                    <a class="sidenav-item-link" href="{% url 'contacts' %}">
                      <i class="mdi mdi-phone"></i>
                      <span class="nav-text">Contacts</span>
                    </a>
                  </li>
                  <li {% if request.resolver_match.url_name == 'calendrier' %}class="active"{% endif %}>
                    <a class="sidenav-item-link" href="{% url 'calendrier' %}">
                      <i class="mdi mdi-calendar-check"></i>
                      <span class="nav-text">Calendar</span>
                    </a>
                  </li>
              </ul>

            </div>

            <div class="sidebar-footer">
              
              <div class="copyright bg-white">
                <p>
                  &copy; <span id="copy-year"></span> Copyright  by <a class="text-primary" href=" " target="_blank" >ISSAM LAGOITI</a>.
                </p>
              </div>
            </div>
          </div>
        </aside>
      <!-- ====================================
      ——— PAGE WRAPPER
      ===================================== -->
        <div class="page-wrapper">
          <!-- Header -->
          <header class="main-header" id="header">
            <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
              <!-- Sidebar toggle button -->
              <button id="sidebar-toggler" class="sidebar-toggle">
                <span class="sr-only">Toggle navigation</span>
              </button>

              <span class="page-title">dashboard</span>

              <div class="navbar-right ">

                <!-- search form -->
                <div class="search-form">
                  <form action="index.html" method="get">
                    <div class="input-group input-group-sm" id="input-group-search">
                      <input type="text" autocomplete="off" name="query" id="search-input" class="form-control" placeholder="Search..." />
                      <div class="input-group-append">
                        <button class="btn" type="button">/</button>
                      </div>
                    </div>
                  </form>
                  <ul class="dropdown-menu dropdown-menu-search">
                  </ul>

                </div>

                <ul class="nav navbar-nav">
                  <!-- Offcanvas -->

                  <!-- User Account -->
                  <li class="dropdown user-menu">
                    <button class="dropdown-toggle nav-link" data-toggle="dropdown">
                      <img src="{{ personnel.photo.url }}" class="user-image rounded-circle" alt="User Image" />
                      <span class="d-none d-lg-inline-block">{{ personnel.nom }}</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                        <a class="dropdown-link-item" href="{% url 'profile_view' %}">
                          <i class="mdi mdi-account-outline"></i>
                          <span class="nav-text">My Profile</span>
                        </a>
                      </li>

                      <li>
                        <a class="dropdown-link-item" href="{% url 'change_password' %}">
                          <i class="mdi mdi-settings"></i>
                          <span class="nav-text">Account Setting</span>
                        </a>
                      </li>

                      <li class="dropdown-footer">
                        <a class="dropdown-link-item" href="{% url 'signout' %}"> <i class="mdi mdi-logout"></i> Log Out </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </header>
        
    
